<p>Enter your information.And our executive shall get in touch with you shortly.</p>
<br>
<table>


    <tr>
      <td>Name:</td>
      <td> <input 
          #nameTextBox
          type="text"
          (input)="onNameEdit(nameTextBox.value)"
           /> </td>
    </tr>
    
    <tr>
        <td>Email-id:</td>
        <td> <input 
            #emailTextBox
            type="email"
            (input)="onEmailEdit(nameTextBox.value)"
             /> </td>
    </tr>
    
</table>

<div>
 <br>
 <button  class="container" mat-button (click)="submitDetails()" mat-flat-button color="primary">Submit</button>

 <button  class="container" mat-button (click)="gotoMainPage()" mat-flat-button color="primary">Go back to main page</button>
</div>