

<label>Enter your information.Our executive will get in touch with you shortly.</label>
<table>


    <tr>
      <td>Name:</td>
      <td> <input 
          #nameTextBox
          type="text"
          (input)="onNameEdit(nameTextBox.value)"
           /> </td>
    </tr>
    
    <tr>
        <td>Email-id:</td>
        <td> <input 
            #emailTextBox
            type="email"
            (input)="onEmailEdit(nameTextBox.value)"
             /> </td>
    </tr>
    
</table>

<br>
 <button mat-button (click)="submitDetails()" mat-flat-button color="primary">Submit</button>
<br>
  
 
<br>
 <button mat-button (click)="gotoMainPage()" mat-flat-button color="primary">Go back to main page</button>
<br>