<!-- dialog-box.component.html -->
<h1 mat-dialog-title>Row Action :: <strong>{{action}}</strong></h1>
<div mat-dialog-content>
  <mat-form-field *ngIf="action != 'Delete'; else elseTemplate">
    <input placeholder="{{action}} Name" matInput [(ngModel)]="local_data.Name">
    <input placeholder="{{action}} Display Size" matInput [(ngModel)]="local_data.DisplaySize">
    <input placeholder="{{action}} Display Type" matInput [(ngModel)]="local_data.DisplayType">
    <input placeholder="{{action}} Weight" matInput [(ngModel)]="local_data.Weight">
    <input placeholder="{{action}} Touch Screen" matInput [(ngModel)]="local_data.TouchScreen">
  </mat-form-field>
  <ng-template #elseTemplate>
    Sure to delete <b>{{local_data.Id}}</b>?
  </ng-template>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="doAction()">{{action}}</button>
  <button mat-button (click)="closeDialog()" mat-flat-button color="warn">Cancel</button>
</div>
