
<table>

    <tr>
      <td>Lower limit</td>
      <td> <input placeholder="0..."
          #lowerLimitTextBox
          type="text"
          (input)="onLowerLimitEdit(lowerLimitTextBox.value)"
           /> </td>
    </tr>
    
    <tr>
        <td>Upper limit</td>
        <td> <input placeholder="...25"
           #upperLimitTextBox
           type="text"
           (input)="onUpperLimitEdit(upperLimitTextBox.value)"
            /> </td>
    </tr>

</table>


<!-- <h1 style="margin-top:2rem">LCD Value: <span style="color: gray"> {{lcdValue}}</span></h1>
<h1 style="margin-top:2rem">LCC Value: <span style="color: gray"> {{lccValue}}</span></h1>
<h1 style="margin-top:2rem">LED Value: <span style="color: gray"> {{ledValue}}</span></h1>
<h1 style="margin-top:2rem">Plasma Value: <span style="color: gray"> {{plasmaValue}}</span></h1>
 -->

<br>

 <button mat-button (click)="applyDisplaySizeFilter()" mat-flat-button color="primary">Apply Filter</button>
<br>
<table mat-table  [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="UID">
      <th mat-header-cell *matHeaderCellDef> UID </th>
      <td mat-cell *matCellDef="let element"> {{element.UID}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="displaySize">
      <th mat-header-cell *matHeaderCellDef> Display Size </th>
      <td mat-cell *matCellDef="let element"> {{element.displaySize}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="displayType">
      <th mat-header-cell *matHeaderCellDef> Display Type </th>
      <td mat-cell *matCellDef="let element"> {{element.displayType}} </td>
    </ng-container>

     <!-- Symbol Column -->
    <ng-container matColumnDef="weight">
        <th mat-header-cell *matHeaderCellDef> Weight </th>
        <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
    </ng-container>

       <!-- Symbol Column -->
    <ng-container matColumnDef="touchScreen">
        <th mat-header-cell *matHeaderCellDef> Touch Screen </th>
        <td mat-cell *matCellDef="let element"> {{element.touchScreen}} </td>
    </ng-container>

    <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let element" class="action-link"> 
        <a (click)="selectProduct('Update',element)">Add to cart</a>  
        </td>
    </ng-container>
  
    <tr  mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row  *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
<br>
 <button mat-button (click)="goToComponentFilterTouchscreen()" mat-flat-button color="primary">Go to next Filter</button>
<br>
  
  
  <!-- Copyright 2020 Google LLC. All Rights Reserved.
      Use of this source code is governed by an MIT-style license that
      can be found in the LICENSE file at http://angular.io/license -->
