
.container{
    align-content: unset;
}
.mat-elevation-z8{
    margin-left: -100pt;
    margin-top: 25pt;
}
.filter{
    margin-top: 10pt;
    
}
.options{
    
    float:left; 
    margin-right:50px; 
}

table {
    width: 200%;
}